body{
    font-family: serif, sans-serif;
    font-weight: 400;
    width: 100%;
}
.navbar-nav .active > .nav-link{
    color:red !important;
}
.boldLinks {
    color: rgba(0,0,0,1);
    font-family: cursive;
}
/* .navbar{
padding: .5rem 2.5rem !important;
} */
.jumbotron{
    background: url('./assets/bg.PNG');
    background-size: cover;
    height:80vh;
    padding:11rem 3rem !important;
    color: white;
    font-family:sans-serif;
}
h1.gallery{
    font-size: 2rem;
    padding:1rem 0;
}
.studio{
    background-color: lightskyblue;
    padding:1.5rem 2.5rem;
}
.widthImg{
    height: 300px;
    width: 100%;
}
/* .playCont{
    position: relative;
}
#playVector{
    position: relative;
    left: 36rem;
    bottom: 19.5rem;
    z-index: 1000;
} */
@media only screen and (max-width:768px){
    .galleryShow img,
    .studiosessions img{
        margin-top: 1rem;
    }
}